.container-liquidacion {
  display: flex;
  justify-content: center;
}

.button-one {
  margin-left: 112px;
  margin-right: 15px;
  width: 195px;
}

.button-two {
  width: 195px;
}

.buttons-liquidacion {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-left: 347px;
  margin-top: -15px;
}

.empleado {
  width: 192px;
  margin-right: 10px;
}

.empleador {
  width: 192px;
}
